*
{
    font-family: Garamond;
    color: white;
}
header
{
    background-color: indigo;
    text-align: center;
    height: 600px;
    padding: 2px;
}
.prawy,.lewy
{
    background-color: indigo;
    height: 600px;
}
main
{
    background-color: black;
    height: 600px;
    /* nie dokonczone */
}