*
{
    font-family: Helvetica;
    margin: 0;
}
.lewy
{
    background-color: navy;
    color: white;
    height: 700px;
    width: 25%;
    float: left;
}
.prawy1
{
    background-color: royalblue;
    height: 100px;
    width: 75%;
    text-align: center;
    float: left;
}
.prawy2
{
    background-color: steelblue;
    height: 300px;
    width: 75%;
    float: left;
}
.prawy3
{
    background-color: royalblue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
    
}
footer
{
    background-color: steelblue;
    text-align: center;
    padding: 20px;
    clear: both;
}
h1
{
    text-spacing: 5px;
}
form
{
    margin: 30px;
    line-height: 3;
}
form:hover
{
    background-color: deepskyblue;
}